{% extends 'games/base.html' %}

{% block title %}About{% endblock %}
{% block header %}About{% endblock %}

{% block content %}
    <p>
        This application is both an easy way for me to keep a (hopefully) updated list of the games
        we own and a real-world project to use <a href="http://djangoproject.com">Django</a> on.
    </p>
    
    <p>
        The source is not currently available. It will be published to <a href="https://github.com/rnelson">GitHub</a>
        soon.
    </p>
{% endblock %}
