{% extends 'games/base.html' %}

{% block title %}About{% endblock %}
{% block header %}About{% endblock %}

{% block content %}
    <p>
        This application is both an easy way for me to keep a (hopefully) updated list of the games
        we own and a real-world project to use <a href="http://djangoproject.com">Django</a> on.
    </p>
    
    <p>
        This project is open source, available under the <a href="http://rnelson.mit-license.org">
        MIT License</a>. Source code is <a href="https://github.com/rnelson/library">available on GitHub</a>.
    </p>
{% endblock %}
