{% extends 'games/base.html' %}

{% block title %}{{ game.name }}{% endblock %}
{% block header %}{{ game.name }}{% endblock %}

{% block content %}
    {% if game %}
        {% if game.image_url %}
            <img src="{{ game.image_url }}" alt="Image for {{ game.name }}" class="game-image" />
        {% endif %}
        
        <h3>Information</h3>
        Name: {{ game.name }}<br>
        {% if game.description %}Description: <div id="game-description">{{ game.description | linebreaksbr }}</div>{% endif %}
		Players: {{ game.players }}<br>
		Time: {{ game.time }}<br>
		Publisher: <a href="/games/publisher/{{ game.publisher.slug }}">{{ game.publisher.name }}</a><br>

        
        {% if game.links %}
            <h3>Websites</h3>
            <ul>
            {% for link in game.links %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
	{% else %}
	   Game not found.
	{% endif %}
{% endblock %}